@use "../../../scss/base" as base;

@import "../../../scss/utils.scss";

section {
	@include paddingY(128px, 32px);
	@extend .container;

	position: relative;
	margin-top: 150px;

	background-color: base.$gray-06;
	color: base.$gray-01;

	height: clamp(670px, calc(100vh - 128px - 32px), 1000px);
	z-index: 0;
}

.footer_wave {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	svg {
		width: fit-content;

		path {
			fill: base.$gray-05;
		}
	}

	z-index: -1;
}

.footer_title {
	h3,
	span {
		text-transform: uppercase;
		font-family: "Poppins", sans-serif;
		font-weight: 600;
	}

	h3 {
		font-size: base.$text-5xl;
		line-height: 1;
	}

	span {
		font-size: 80px;
	}

	&_dot {
		color: base.$primary;
	}
}

.footer_contact_cta {
	position: relative;
	z-index: 1;

	margin-top: 160px;

	display: flex;
	justify-content: end;

	&_trace {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);

		background: base.$gradient-gray-center;

		width: 100%;
		height: 3px;
		z-index: -1;
	}

	&_btn {
		width: fit-content;
		margin-right: 8%;

		span {
			text-transform: uppercase;
			font-family: "Poppins", sans-serif;
			font-size: base.$text-xl;
		}
	}
}

.footer_alternative_contact_buttons {
	display: flex;
	flex-direction: column;
	gap: 12px;

	margin-top: 72px;

	div {
		width: fit-content;
	}
}

.footer_bottom {
	@include paddingX(32px);
	width: calc(100% - 32px - 32px);

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;

	position: absolute;
	bottom: 32px;
	left: 0;

	&_copyright_text {
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: base.$gradient-gray;

		user-select: none;

		font-weight: 500;
	}

	&_social_medias {
		display: flex;
		flex-direction: column;
		gap: 16px;

		span {
			user-select: none;
			color: base.$gray-04;
			font-weight: 500;
		}

		ul {
			display: flex;
			gap: 24px;
		}

		li a {
			color: base.$gray-03;
			font-weight: 500;
		}
	}
}
