<section>
    <span class="footer_wave">
        <svg width="100%" height="100%" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
            <path d="M0,47 Q50,47 50,100 L0,100" />
            <path d="M41.9,66 Q62,100 200,100 L0,100" />
        </svg>
    </span>

    <div class="footer_title">
        <h3>vamos <br /> <span>conversar<span class="footer_title_dot">.</span></span></h3>
    </div>

    <div class="footer_contact_cta">
        <span class="footer_contact_cta_trace"></span>

        <div class="footer_contact_cta_btn">
            <app-button [color]="'primary_gradient'"><span>entrar em contato</span></app-button>
        </div>
    </div>

    <div class="footer_alternative_contact_buttons">
        <div class="btn_email">
            <app-button [color]="'lightgray'" [bordered]="true" [shrink]="true">
                <span>{{social.email}}</span>
            </app-button>
        </div>
        <div class="btn_phone">
            <app-button [color]="'lightgray'" [bordered]="true" [shrink]="true">
                <span>{{getFormalPhoneNumber()}}</span>
            </app-button>
        </div>
    </div>
    <span class="footer_bottom_blank"></span>
    <div class="footer_bottom">
        <div>
            <span class="footer_bottom_copyright_text">Copyright © 2024 Leonardo Delgado</span>
        </div>
        <div class="footer_bottom_social_medias">
            <span class="footer_bottom_social_medias_title">social</span>
            <ul>
                <li><app-text-link [href]="social.linkedin">linkedin</app-text-link></li>
                <li><app-text-link [href]="social.instagram">instagram</app-text-link></li>
                <li><app-text-link [href]="social.youtube">youtube</app-text-link></li>
            </ul>
        </div>
    </div>
    <app-text-link />
</section>