@use "../../../../../scss/base" as base;

@import "../../../../../scss/utils.scss";

.frontend {
}

.backend {
}

// .database {
// 	grid-area: db;
// }

// .api {
// 	grid-area: api;
// }

.tests {
}

// .tools {
// 	grid-area: tools;
// }

section {
	@extend .container;
	@include paddingY(48px);

	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;

	&::before {
		content: " ";

		position: absolute;
		top: 0;
		left: 16px;

		width: 8px;
		height: 100%;

		background-color: base.$gray-contrast;
	}
}

.technologies_container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	gap: 32px;

	div {
		background-color: base.$gray-contrast;
		padding: 20px;

		position: relative;
		border-radius: 16px;
		display: flex;
		flex-wrap: wrap;
		gap: 24px;

		height: fit-content;

		.category_name {
			position: absolute;
			top: 0;
			left: 0;

			padding-left: 4px;
			padding-right: 16px;
			padding-bottom: 4px;

			background-color: base.$gray-01;
			color: base.$gray-contrast-02;

			transform: translateY(-50%);
			border-radius: 0 0 12px 0;
			font-weight: 500;
		}
	}

	figure {
		$icon-url: var(--url);

		-webkit-mask-image: $icon-url;
		-webkit-mask-repeat: no-repeat;
		mask-image: $icon-url;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
		mask-size: 64px 64px;

		width: 64px;
		height: 64px;
		background-color: base.$gray-05;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s;

		&:hover {
			background-color: base.$primary;
			transform: scale(105%);
			cursor: none;
		}
	}

	// classes das categorias

	.stack {
		margin-bottom: 20px;

		figure {
			background-color: base.$primary;
		}
	}
}
