<section>
	<h2 class="title">Tecnologias</h2>

	<div class="technologies_container">
		@for (category of technologyIcons; track category) {
		<div [className]="category.categoryName + ' technologies_wrapper'">
			<span [innerText]="category.categoryAlternativeName" class="category_name"></span>
			@for (icon of category.iconList; track icon) {
			<app-tooltip>
				<!-- Content -->
				<div slot="content" class="icon_wrapper">
					<figure [style]="'--url:' + getIconURL(category.dirName, icon.fileName)">
					</figure>
					<span class="icon_name">{{icon.displayName}}</span>
				</div>

				<!-- Tooltip body -->
				<div slot="tooltip" class="tooltip">
					<div>
						<span class="tooltip_title">{{icon.displayName}}</span>
						<span class="tooltip_subtitle">{{icon.subDisplay}}</span>
					</div>
					@if (icon.comment) {
					<span class="tooltip_text">{{icon.comment}}</span>
					}
				</div>
			</app-tooltip>
			}
		</div>
		}
	</div>

</section>