@use "../../../../../scss/base" as base;

@import "../../../../../scss/utils.scss";

section {
	@extend .container;
	@include paddingY(72px);

	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;

	overflow: hidden;

	&::before {
		content: " ";

		position: absolute;
		top: 0;
		left: 16px;

		width: 8px;
		height: 100%;

		background-color: base.$gray-contrast;
	}
}

.technologies_container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1100px;
	gap: 32px;

	.technologies_wrapper {
		background-color: base.$gray-contrast;
		padding: 20px;

		position: relative;
		border-radius: 16px;
		display: flex;
		flex-wrap: wrap;
		gap: 24px;

		height: fit-content;

		.category_name {
			position: absolute;
			top: 0;
			left: 0;

			padding-left: 4px;
			padding-right: 16px;
			padding-bottom: 4px;

			background-color: base.$gray-01;
			color: base.$gray-contrast-02;

			transform: translateY(-50%);
			border-radius: 0 0 12px 0;
			font-weight: 500;
		}
	}

	.icon_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		text-align: center;

		.icon_name {
			display: none;
			color: base.$gray-03;
			transition: 0.2s ease;
		}

		&:hover {
			.icon_name {
				color: base.$primary;
			}
		}
	}

	figure {
		$icon-url: var(--url);

		-webkit-mask-image: $icon-url;
		-webkit-mask-repeat: no-repeat;
		mask-image: $icon-url;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
		mask-size: 64px 64px;

		@include size(64px);

		background-color: base.$gray-05;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s ease-in;

		&:hover {
			background-color: base.$primary;
			transform: scale(105%);
		}
	}

	.tooltip {
		display: flex;
		flex-direction: column;
		gap: 16px;
		min-width: 200px;

		div {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		&_title {
			font-weight: 500;
		}

		&_subtitle {
			color: gray;
		}

		&_text {
			color: #bbbbbb;
		}
	}

	// classes das categorias

	.stack {
		margin-bottom: 20px;

		figure {
			background-color: base.$primary;
		}
	}
}

@media screen and (max-width: 1417px) {
	.tests {
		width: 250px;
	}
}

@media screen and (max-width: 1150px) {
	.tests {
		width: auto;
	}

	.technologies_wrapper {
		flex-grow: 1;
	}
}

@media screen and (max-width: 972px) {
	.database {
		width: 100%;
	}
}

@media screen and (max-width: base.$bp-md) {
	.technologies_wrapper {
		justify-content: center;
	}

	figure {
		@include size(52px !important);
		mask-size: 52px 52px !important;
	}
}

@media screen and (max-width: 600px) {
	.api,
	.tests,
	.tools {
		display: none !important;
	}
}

@media screen and (max-width: base.$bp-sm) {
	section {
		@include paddingX(8%);

		&::before {
			display: none;
		}
	}

	.frontend,
	.backend,
	.database {
		display: none !important;
	}

	.technologies_wrapper {
		@include paddingX(8px !important);
	}

	.icon_name {
		display: inherit !important;
	}
}
