@use "../../../scss/base" as base;

@import "../../../scss/utils.scss";

main {
	position: relative;
	background-color: base.$gray-06;
	width: 100%;
	min-height: 100vh;
	height: 100%;

	padding-bottom: 250px;
}

section {
	@extend .container;
	padding-top: 160px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.contact_wrapper {
	padding-top: 120px;

	display: grid;
	grid-template-columns: 65% auto;
	gap: 48px;
}

.alternative_contact_wrapper {
	border: 1px solid base.$gray-04;
	padding: 48px 24px;
	border-radius: 15px;

	display: flex;
	flex-direction: column;
	gap: 32px;

	height: 300px;

	h3 {
		font-weight: 500;
		color: base.$gray-04;
	}

	.alternative_contact {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}

.input_column {
	display: grid;
	grid-column: 2;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 48px;
}

.submit_btn_container {
	display: flex;
	justify-content: end;

	.submit_btn {
		width: clamp(250px, 50%, 400px);
	}
}

@media screen and (max-width: 1150px) {
	section {
		@include paddingX(8%);
	}

	.contact_wrapper {
		grid-template-columns: 55% auto;
	}
}

@media screen and (max-width: 900px) {
	.contact_wrapper {
		display: flex;
		flex-direction: column-reverse;
		gap: 80px;
	}

	.alternative_contact_wrapper {
		height: 100%;
		border-radius: 0;
		padding: 0;

		padding-bottom: 80px;

		border: 1px solid transparent;
		border-bottom: 1px solid base.$gray-04;
	}

	.alternative_contact {
		h3 {
			color: base.$gray-01;
		}
	}
}

@media screen and (max-width: base.$bp-md) {
	.submit_btn_container {
		justify-content: center;
	}
}
