<footer class="footer">
	<div>
		<span class="footer_copyright_text">Copyright © 2024 Leonardo Delgado</span>
	</div>
	<div class="footer_social_medias" #SocialMedias>
		<span class="footer_social_medias_title">social</span>
		<ul>
			<li>
				<app-text-link [href]="social.linkedin">linkedin</app-text-link>
			</li>
			<li>
				<app-text-link [href]="social.instagram">instagram</app-text-link>
			</li>
			<li><app-text-link [href]="social.youtube">youtube</app-text-link></li>
		</ul>
	</div>
</footer>