<section>
    <div class="about_me__image_container">
        <!-- TODO: picture -->

        <svg class="about_me__svg_rect" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <rect class="rect" x="21%" y="11%" width="60%" height="80%" rx="8" transform="rotate(45)"
                transform-origin="50% 50%" fill="white" />
        </svg>

        <div class="about_me__image">
            <figure>
                <img src="../../../../../assets/my_photo.png" alt="my_photo" />
            </figure>
        </div>
    </div>
    <div class="about_me__content">
        <article class="about_me__text_wrapper">
            <h2 class="title">Sobre Mim</h2>
            <p class="text_content">Com vários anos de experiência em desenvolvimento web, estou empenhado em
                proporcionar experiências
                incríveis e
                eficientes para os usuários. Desde 2018, tenho trabalhado na criação de uma variedade de projetos, desde
                páginas de
                venda até serviços completos de administração. Meu foco principal é garantir a melhor experiência e
                escalabilidade do
                produto, buscando constantemente superar as expectativas dos clientes</p>
        </article>
        <div class="about_me__statistics">
            <div class="about_me__text_wrapper">
                <span class="title">5+</span>
                <p class="text_content">Anos de experiência em desenvolvimento web</p>
            </div>

            <div class="about_me__text_wrapper">
                <span class="title">25+</span>
                <p class="text_content">Projetos desenvolvidos</p>
            </div>
        </div>

        <div class="cv_button">
            <app-cv-redirect-button />
        </div>
    </div>
</section>