@use "../../../../../scss/base" as base;

@import "../../../../../scss/utils.scss";

section {
	@extend .screenHeight;

	background-color: base.$gray-02;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-bottom: 90px;

	margin-bottom: 100px;

	&::after {
		content: " ";
		z-index: 0;
		width: 100%;
		height: 3%;
		background-color: base.$gray-01;
		position: absolute;
		bottom: 0;
	}
}

.home_introduction {
	display: flex;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.home_introduction__main_text {
	@include paddingY(236px, 96px);
	@include paddingX(15%, 2%);

	position: relative;
	background-color: base.$gray-01;
	width: calc(55% - 15% - 2%);
	height: calc(100% - 236px - 96px);

	&__wave {
		position: absolute;
		top: 0;
		left: 99.5%;
		width: 10%;
		height: 100%;
		filter: drop-shadow(2px 0px 1px rgba(0, 0, 0, 0.04));

		transition: 0.2s ease;

		path {
			fill: base.$gray-01;
		}
	}

	.apresentation_title {
		width: fit-content;
		position: relative;

		&::before {
			@include size(100px);
			content: " ";

			position: absolute;
			top: -50px;
			left: -50px;

			border-radius: 50%;

			opacity: 0.5;
			filter: blur(70px);
			background-color: base.$primary-light;
		}

		p {
			text-transform: uppercase;
			font-family: "Poppins", sans-serif;
			font-weight: 600;
		}

		&_prefix {
			color: base.$gray-02;
			font-size: base.$text-xl;
		}

		&_name {
			color: base.$primary;
			font-size: base.$text-6xl;

			span {
				color: inherit;
				font-size: inherit;
				font-family: inherit;
				font-weight: inherit;
			}
		}

		&_profession_wrapper {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		&_profession_wrapper span {
			width: 100%;
			height: 1px;
			border-radius: 50px;
			background-color: base.$primary;

			&:last-child {
				display: none;
			}
		}

		&_profession_wrapper p {
			color: base.$gray-06;
			font-size: base.$text-lg;
			text-wrap: nowrap;
		}
	}

	.apresentation_text {
		width: clamp(225px, 100%, 550px);
		margin-top: 48px;
	}
}

.home__character {
	width: 45%;
	right: 0;
	position: absolute;
}

.cta_section {
	@include paddingY(80px);
	display: flex;
	flex-grow: 0;
	flex-wrap: wrap;
	gap: 16px 32px;
}

.home__text_slider {
	position: absolute;
	width: 101%;
	z-index: 1;
	transform: rotate(1deg) translate(-2px, -20px);
}

// MEDIA QUERIES

@media screen and (max-width: 1303px) {
	.home_introduction__main_text {
		@include paddingX(10%, 7%);
		width: calc(55% - 10% - 2%);
	}

	.home__character {
		transform: translateX(40px);
	}
}

@media screen and (max-width: 1150px) {
	.apresentation_title {
		&_name {
			font-size: base.$text-4xl !important;
		}

		&_prefix {
			font-size: base.$text-lg !important;
			text-align: start;
		}
	}

	.character {
		transform: translateY(-50px);
	}
}

@media screen and (max-height: 900px) {
	.home_introduction__main_text {
		@include paddingY(calc(236px - 50px), calc(96px + 50px));
	}

	.home__character {
		transform: translateX(30px) translateY(-90px);
	}
}

@media screen and (max-width: 900px) {
	.home_introduction__main_text {
		@include paddingY(calc(236px - 50px), calc(96px + 50px));
		text-align: center;
		text-wrap: balance;

		&__wave {
			width: 0%;
		}
	}

	.apresentation_title {
		&_name {
			span {
				visibility: hidden;
				display: block;
				overflow: hidden;
				height: 0;
			}

			&:after {
				content: "Leonardo D.";
				display: block;
			}
		}

		&_prefix {
			font-size: base.$text-base !important;
			text-align: center;
		}

		&_profession_wrapper span:last-child {
			display: inherit !important;
		}
	}

	.cta_section {
		justify-content: center;
	}

	.home__character {
		transform: translateX(20px) translateY(-120px);
	}
}

@media screen and (max-width: base.$bp-md) {
	section {
		height: 100%;
		background-color: transparent;
	}

	.home_introduction__main_text {
		@include paddingX(8%);
		padding-top: 64px;

		width: calc(100% - 8% - 8%);
	}

	.home_introduction {
		@include paddingY(100px, 0px);
		flex-direction: column-reverse;
	}

	.apresentation_title {
		width: 100% !important;

		&_name {
			span {
				visibility: visible;
				display: block;
				overflow: auto;
				height: auto;
			}

			&:after {
				display: none;
			}
		}

		&_profession_wrapper {
			span {
				background-color: base.$gray-02 !important;
			}

			span:last-child {
				display: none !important;
			}
		}
	}

	.apresentation_text {
		width: 100% !important;
	}

	.cta_section {
		flex-direction: column;
		align-items: center;
	}

	.home__character {
		position: relative;

		margin-left: 50%;
		transform: translateX(calc(-50% - 5px));

		@include size(300px);
		border-radius: 0 0 50% 0;
		overflow: hidden;

		&::before {
			content: " ";
			@include size(290px);
			transform: translateY(13px) translateX(10px);
			background-color: base.$gray-02;
			border-radius: 50%;
			position: absolute;
		}

		.character {
			transform: translateY(-530px);
		}
	}
}

@media screen and (max-width: base.$bp-sm) {
	.apresentation_title {
		&_name {
			span {
				visibility: hidden;
				display: block;
				overflow: hidden;
				height: 0;
			}

			&:after {
				content: "Leonardo D.";
				display: block;
			}
		}

		&_profession_wrapper {
			flex-wrap: wrap;
			justify-content: center;

			p {
				text-wrap: wrap !important;
			}
		}
	}
}
