<section #Container>
    <h3 class="project_list_title">Projetos em Destaque</h3>
    <div class="project_banner" #Banner>
        @for (project of projectList; track project) {
        <figure>
            <img [src]="'../../../assets/project-banners/' + project.bannerFileName"
                [alt]="'website ' + project.title" />
        </figure>
        }
    </div>

    <table #Table>
        <tbody>
            @for (project of projectList; track project) {
            <tr>
                <td>{{project.title}}</td>
                <td>{{project.createdDate.getFullYear()}}</td>
            </tr>
            }
        </tbody>
    </table>

    <div class="project_list_blocks">
        @for (project of projectList; track project) {
        <div class="project_list_blocks__project">
            <div class="img_card">
                <div class="img_card_content">
                    <figure class="img_card_content_front">
                        <img [src]="'../../../assets/project-banners/' + project.bannerFileName"
                            [alt]="'website ' + project.title" draggable="false" />
                    </figure>
                    <div class="img_card_content_back">
                        <img src="../../../assets/icons/common/quote.svg" alt="quotes" />
                        <p>
                            {{project.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="project_content">
                <div>
                    <h3>{{project.title}}</h3>
                    <span>{{project.createdDate.getFullYear()}}</span>
                </div>
                <app-redirect-button [shrink]="true" class="cta_button">ver mais</app-redirect-button>
            </div>
        </div>
        }
    </div>
</section>