@use "../../../scss/base" as base;

$gap: 80px;

.text_slider {
	&:root {
		--animation_duration: 20s;
		--animation_direction: normal;
		--animation_play_state: running;
	}

	background-color: base.$gray-06;
	color: base.$gray-01;

	margin-top: 25rem;
	padding: calc($gap / 4) 0;
	display: flex;
	overflow: hidden;
	animation-play-state: paused;

	ul {
		display: flex;
		gap: $gap;
		padding: 0 calc($gap / 2);
		width: fit-content;
		// animation: slide_left__animation linear var(--animation_duration, 20s)
		// 	var(--animation_direction, normal) var(--animation_play_state, running)
		// 	infinite forwards;

		li {
			display: flex;
			gap: $gap;

			span {
				text-wrap: nowrap;
				font-size: base.$text-lg;
				font-family: "Poppins", sans-serif;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-weight: 500;
			}
		}

		img {
			width: base.$text-lg;
		}
	}
}

@keyframes slide_left__animation {
	to {
		transform: translateX(0%);
	}
	from {
		transform: translateX(-100%);
	}
}
